<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Edit Post</title>
    </head>
    <body>
        <div class="container">
            <form th:action="@{'/board/edit?id=' + ${post.id}}" method="post">
                <div class="form-group">
                    <label for="title"></label>
                    <input type="text" id="title" name="title" th:value="${post.title}"/>
                    <label for="content"></label>
                    <input type="text" id="content" name="content" th:value="${post.content}"/>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
