<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${post.title}"></title>
  </head>

  <body>
    <div class="nav">
      <ul>
        <li><a href="/board">Home</a></li>
        <li><a href="/board/write">Write</a></li>
      </ul>
    </div>

    <h1 th:text="${post.title}"></h1>
    <p th:text="${post.content}"></p>

    <div>
      <button th:onclick="'location.href=\'/board/delete?id=' + @{${post.id}} + '\''">Delete</button>
    </div>
  </body>
</html>
