<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Write Post</title>
  </head>
  <body>
    <div class="container">
      <form action="/board/write" method="post">
        <div class="form-group">
          <label for="title"></label>
          <input type="text" id="title" name="title" />
          <label for="content"></label>
          <input type="text" id="content" name="content" />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
